<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Futurama Character</title>
  </head>
  <body>
    <form action="/addNewChar" method="POST">
      <input type="text" class="name" placeholder="Name" name="name" />
      <input
        type="text"
        class="nickname"
        placeholder="Nickname"
        name="nickname"
      />
      <input type="text" class="species" placeholder="Species" name="species" />
      <input
        type="text"
        class="homePlanet"
        placeholder="Home Planet"
        name="homePlanet"
      />
      <input type="text" class="job" placeholder="Job" name="job" />
      <input
        type="text"
        class="famousQuote"
        placeholder="Famous Quote"
        name="famousQuote"
      />
      <input type="submit" class="submitbtn" />
    </form>
  </body>
</html>
